@import 'libs/shared/styles/src/lib/variables';

.footer {
  display: flex;
  flex-direction: row;
}

.toolbar-spacer {
  flex: 1;
}

.socials {
  display: flex;
  gap: 0.2em;
  font-size: 2em;

  a {
    color: var(--accent);
  }
}
