<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Helderberg Pirates</span>
    <span class="spacer"></span>
    <hpb-ui-icon-menu [ariaLabel]="'Settings menu'">
      <span mat-menu-item disabled>Settings</span>
      <span mat-menu-item (click)="$event.stopPropagation()">
        <mat-slide-toggle [(ngModel)]="darkMode">Dark Mode</mat-slide-toggle>
      </span>
    </hpb-ui-icon-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Making a website!</mat-card-title>
      <mat-card-subtitle>We're making a website</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/baseball-sticker.svg" alt="Fun baseball sticker" />
    <mat-card-content>
      <p>
        We're making a website for the Helderberg Pirates baseball team. We will hopefully have it up and running soon.
      </p>
    </mat-card-content>
  </mat-card>
</div>
